<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessmediaapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Activities -->
        <activity android:name=".OpeningScreen"> <!-- This is supposed to be .OpeningScreen -->
                                                <!--  Use ".StepCounter" for testing          -->
                                                <!--      HomeActivity for testing      -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".OpeningScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitnessmediaapp.OpeningScreen"/>
        </activity>

        <activity
            android:name=".AccountSettings">
        </activity>

        <activity
            android:name=".HomeActivity">
        </activity>

        <activity
            android:name=".PostsActivity">
        </activity>

        <activity
            android:name=".StepCounter">
        </activity>

        <activity
            android:name=".ExerciseListMain">
        </activity>

        <activity
            android:name=".ExerciseListActivity"
            android:parentActivityName=".ExerciseListMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitnessmediaapp.ExerciseListMain"/>
        </activity>

        <activity
            android:name=".CustomExerciseListActivity"
            android:parentActivityName=".ExerciseListMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitnessmediaapp.ExerciseListMain"/>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".OpeningScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fitnessmediaapp.OpeningScreen"/>
        </activity>
        <!-- End Activities -->

    </application>

</manifest>